<h2>Home#index</h2>
    <h1>Welcome to your dashboard! <%= current_user.username %></h1>
<div>
    <% if user_signed_in? %>
        <%= link_to "Edit account", edit_user_registration_path %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Log in", new_session_path(resource_name) %><br />
        <%= link_to "Sign up", new_registration_path(resource_name) %><br />
    <% end %>
</div>